<div class="container">
  <h1>50 SHADES OF RAINBOW</h1>

  <div class="form">
    <form action="/searchtag" method="post">
      <input type="text" class="resizedTextbox" name="name">
      <input type="submit" value="Search tag">
    </form>
  </div>
</div>

<div class="entry">
  <br>
  <a href= "/post">
  <p>Create New Entry</p>  </a>

  <% @posts.each do |post| %>
    <a href="/posts/<%= post.id %>/show">
    <h2> <%= post.title %></h2> </a>
    <br>
    Content: <%= post.content %> <br>
    Tags:
      <% post.tags.each do |tag| %>
        <a href="/searchtag/<%= tag.id %>"><%= tag.name %></a>
      <% end %>
  <% end %>
</div>
